osc/osc_nodered_sc.json
[{"id":"43d038e4.741478","type":"osc in","z":"155da949.d02817","name":"/nodered/r1 (in:8900)","addr":"0.0.0.0","port":"8900","x":440,"y":40,"wires":[["453da935.0a555"]]},{"id":"c1b64faf.22541","type":"osc out","z":"155da949.d02817","name":"-> /nodered/s1 (out, vsi-4.local:57120)","addr":"vsi-4.local","port":"57120","path":"/nodered/s1","x":910,"y":160,"wires":[]},{"id":"76b1452e.85bc5c","type":"osc out","z":"155da949.d02817","name":"/trumbzux (out, vsi-4.local:57120)","addr":"vsi-4.local","port":"57120","path":"/trumbzux","x":900,"y":220,"wires":[]},{"id":"2c431881.b3a548","type":"inject","z":"155da949.d02817","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"x":550,"y":160,"wires":[["c1b64faf.22541"]]},{"id":"f130d334.f77f1","type":"debug","z":"155da949.d02817","name":"","active":false,"console":"false","complete":"payload","x":830,"y":440,"wires":[]},{"id":"847edfa4.ca7b8","type":"mqtt out","z":"155da949.d02817","name":"","topic":"iotwtf2","qos":"","retain":"","broker":"abcceca5.d563b","x":810,"y":340,"wires":[]},{"id":"eca7c490.3c7a8","type":"inject","z":"155da949.d02817","name":"","topic":"","payload":"hellomars","payloadType":"str","repeat":"17","crontab":"","once":false,"x":250,"y":340,"wires":[["847edfa4.ca7b8"]]},{"id":"b4c017e9.4e5ed8","type":"mqtt in","z":"155da949.d02817","name":"","topic":"iotwtf2","qos":"2","broker":"abcceca5.d563b","x":210,"y":440,"wires":[["f130d334.f77f1","c1b64faf.22541"]]},{"id":"dad247c.b295638","type":"comment","z":"155da949.d02817","name":"MQTT","info":"","x":90,"y":340,"wires":[]},{"id":"44597cad.5004cc","type":"comment","z":"155da949.d02817","name":"incoming OSC (open sound control)","info":"","x":180,"y":40,"wires":[]},{"id":"73957a97.53d41c","type":"twitter in","z":"155da949.d02817","twitter":"","tags":"@instructables, #IoT, artscience","user":"false","name":"","topic":"tweets","x":470,"y":220,"wires":[["847edfa4.ca7b8","76b1452e.85bc5c"]]},{"id":"576e401a.51ea8","type":"comment","z":"155da949.d02817","name":"outgoing OSC (check hostname and port of recipient)","info":"","x":240,"y":160,"wires":[]},{"id":"453da935.0a555","type":"debug","z":"155da949.d02817","name":"","active":false,"console":"false","complete":"payload","x":830,"y":40,"wires":[]},{"id":"c4370703.c15168","type":"feedparse","z":"155da949.d02817","name":"","url":"http://hnapp.com/rss?q=raspberry","interval":15,"x":300,"y":400,"wires":[["f130d334.f77f1"]]},{"id":"abcceca5.d563b","type":"mqtt-broker","z":"155da949.d02817","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]