osc/osc_nodered_p5.json
[{"id":"880faee4.b4be2","type":"inject","z":"a175a3f2.b3301","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"x":170,"y":160,"wires":[["db6d7a58.f14098"]]},{"id":"db6d7a58.f14098","type":"osc out","z":"a175a3f2.b3301","name":"-> /nodered/s1 (out->processing, vsi-4.local:8999)","addr":"vsi-4.local","port":"8999","path":"/nodered/s1","x":590,"y":160,"wires":[]},{"id":"e2c61470.2c863","type":"osc in","z":"a175a3f2.b3301","name":"/nodered1 (in:8900)","addr":"0.0.0.0","port":"8900","x":170,"y":100,"wires":[["a5c9e4e7.6170a8"]]},{"id":"a5c9e4e7.6170a8","type":"debug","z":"a175a3f2.b3301","name":"","active":true,"console":"false","complete":"payload","x":470,"y":100,"wires":[]}]
